.box{
	width: 300px;
	height: 200px;
	background-color: yellow;
	border:1px solid red;
	float: left;
	clear: left;

}
.box2{
	width: 100px;
	height: 200px;
	background-color: white;
	border: .5px solid red;
	float: left;
	clear: left;
}
.box3{
	width: 100px;
	height: 200px;
	background-color: pink;
	border: .5px solid red;
	float: left;
}
.box4{
	width: 100px;
	height: 200px;
	background-color: white;
	border: .5px solid red;
	clear: right;
	float: left;
}