
#contenedor{
	width: 960px;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: black;

}
header{
height: 150px;
background: blue;
}
header h1{
	font-size: 50px;
	text-align: center;
	line-height: 150px;
}
nav{
	background: grey;
	height: 60px;v

}
#contenido{
	width: 700px;
	height: 500x;
	float: left;
	background: gray;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	
}
#contenido h2{
	font-size: 20px;
	text-align: center;
	line-height: 200px;
	border:2px;
	border-style: solid;
}
aside{

	width: 250px;
	height: 500px;
	background: pink;
	margin-top: 10px;
	float:right;

}
aside h2{
	font-size: 40px;
	text-align: center;
	line-height: 50px;

}
footer{
	background: yellow;
	border:2px;
	border-style: solid;
	text-align: center;
}
.box{
	width: 100px;
	height: 100px;
	background-color: white;
	border:1px solid red;
	float:left;
	clear: right;
}
