.box{
	width: 200px;
	height: 200px;
	background-color: yellow;
	border:1px solid red;
	float:left;

}
.box2{
	width: 200px;
	height: 200px;
	background-color: pink;
	border: 1px solid red;
	float: left;
	clear: left;
}