body{
	background: #444;
	color:blue;

}
#contenedor{
	width: 960px;
	height: 600px;
	
	background: white;

}
header{
width: 760px;
height: 90px;
background: cyan;
float: right;
clear: right;
}
header h1{
	font-size: 50px;
	text-align: center;
	
}
#logo{
width: 200px;
height: 90px;
background: #D687F9 ;
float: left;
font-size: 50px;
text-align: center;

}
div h1{
	font-size: 50px;
	text-align: center;
	
}

#contenido{
	width: 700px;
	height: 400px;
	float: right;
	background: gray;
	margin-top: 10px;
	float:right;
	clear: right;
	
	
}
article h2{
	font-size: 40px;
	text-align: center;
	line-height: 50px;
}
aside{

	width: 250px;
	height: 400px;
	background: pink;
	margin-top: 10px;
	float:left;

}
aside h2{
	font-size: 40px;
	text-align: center;
	line-height: 50px;

}
footer{
	width: 960px;
	background: yellow;
	border:2px;
	border-style: solid;
	text-align: center;
	float: left;
	clear: left;
}
