body{
	background: #444;
	color:blue;

}
#contenedor{
	width: 960px;
	height: 600px;
	
	background: white;

}
header{
width: 760px;
height: 90px;
background: cyan;
float: right;
clear: right;
}
header h1{
	font-size: 50px;
	text-align: center;
	
}
#logo{
width: 200px;
height: 90px;
background: #D687F9 ;
float: left;
font-size: 50px;
text-align: center;

}
div h1{
	font-size: 50px;
	text-align: center;
	
}
nav {
	
	background: #F9C687;
	width: 960px;
	height: 60px;
	border:0.5px solid red;
	font-size: 40px;
	text-align: center;
	float: left;
	clear: right;
	
}

section{
	width: 300px;
	height: 200px;
	background: gray;
}

#box{
	
	border:1px solid red;
	float: left;
	clear: left;
	
}
.box2{
	float: right;
	clear: right;
}

aside{

	width: 250px;
	height: 400px;
	background: pink;
	margin-top: 10px;
	

}
aside h2{
	font-size: 40px;
	text-align: center;
	line-height: 50px;

}
footer{
	width: 960px;
	background: yellow;
	border:2px;
	border-style: solid;
	text-align: center;
	float: left;
	clear: left;
}
