#encabezado{
	background-color: gray;
	height: 35px;
}
.btnNav{
	background-color: blue;

	}
#articulo{
	background-color: #33FFBC;
	border:2px;
}

#seccion{
	background-color: yellow
	border:2px;

}
#aside{
	background-color: green;
	border:2px;

}
#pie{
	background-color: orange;
	height: 35px;
}

