
body
{
	background-color: yellow;
}
div{
	background-color: #33FFB3;
}
h1{
	background-color: blue;
	text-align: center;
	width: 50%;
	border: 2px;
	border-style: solid;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}
p{
	background-color: green;
	width: 25%;
	height: 50%;
	border:10px;
	border-style: dotted;
	margin: 100px;
}
.parrafo
{
	background-color: white;
	width: 75%;
	height: 50%;
	border:10px;
	border-style: dotted;
	margin: 0px;
}
.parra
{
	background-color: #B0FF33  ;
	width: 100%;
	height: 50%;
	padding: 8%;
	border:10px;
	text-align: justify;
	border-style: dotted;
	margin: 0px;
}
#unico
{
	background-color: pink;
	width: 30%;
	height: 50%;
	border:10px;
	border-style: dotted;
	margin: 0px;
	visibility: hidden;
}