body{
	background: #444;
	color:blue;
}
#contenedor{
	width: 960px;
	
	background: #000;

}
header{
height: 150px;
background: #000;
}
header h1{
	font-size: 50px;
	text-align: center;
	
}
nav {
	
	background: grey;
	height: 60px;
	border:0.5px solid red;

}
.box{
	width: 192px;
	height: 60px;
	background-color: grey;
	border:0.5px solid red;
	float:left;
	clear: right;
}

#contenido{
	width: 700px;
	height: 500x;
	float: left;
	background: gray;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	
}
#contenido h2{
	font-size: 20px;
	text-align: center;
	line-height: 200px;
	border:2px;
	border-style: solid;
}
aside{

	width: 250px;
	height: 500px;
	background: pink;
	margin-top: 10px;
	float:right;

}
aside h2{
	font-size: 40px;
	text-align: center;
	line-height: 50px;

}
footer{
	background: yellow;
	border:2px;
	border-style: solid;
	text-align: center;
}
